<div>
	<table class="table">
		<tr>
			<td>
			{{adDetail.name}}&nbsp;&nbsp;
			{{adDetail.price}}<br/>
			{{adDetail.description}}<br/>
			{{adDetail.cityName}}<br/>
			{{adDetail.contactNumber}}
			</td>
		</tr>
	</table>
</div>