<div>
	<table class="table table-stripped">
		<tr ng-repeat="x in ads">
			<td><a href=#addetail/{{x.adDetailId}}>Title: {{ x.name }}</a><br/>Description:{{x.miniDescription}}</td>
		</tr>
	</table>
</div>