<div ng-controller="postAdController">
	Provide the details here to post the ad
	<form>
		<table>
			<tr>
				<td><label>Name:</label><input type="text" name="name" ng-model="newAdForm.name" required=true></td>
			</tr>
			<tr>
				<td><label>Catalog:</label><select ng-model="selectedCatalog"
					ng-change="showCategories(selectedCatalog.catalogId)"
					data-ng-options="x as x.name for x in catalogs">
						<option value="">Select Catalog</option>
				</select></td>
			</tr>
			<tr>
				<td><label>Category:</label><select ng-model="selectedCategory"
					data-ng-options="x as x.name for x in categories" required=true>
						<option value="">Select Category</option>
				</select></td>
			</tr>
			<tr>
				<td><label>City:</label><select ng-model="selectedCity"
					ng-change="showLocalities(selectedCity.cityId)"
					data-ng-options="x as x.name for x in cities" required=true>
						<option value="">Select City</option>
				</select></td>
			</tr>
			<tr>
				<td><label>Locality:</label><select ng-model="selectedLocality"
					data-ng-options="x as x.name for x in localities">
						<option value="">Select Locality</option>
				</select></td>
			</tr>
		    <tr>
				<td><label>Address:</label><input type="text" name="addressline1" ng-model="adressline1"></td>
			</tr>
			<tr>
				<td><label>Contact Number:</label><input type="text" name="contactNumber" ng-model="contactNumber"></td>
			</tr>
			<tr>
				<td><label>Description:</label><textarea name="description" ng-model="description" cols="20" rows="5"></textarea></td>
			</tr>
			<tr>
				<td><label>Official Email id:</label><input type="email" name="officialEmailid" ng-model="officialEmailid"></td>
			</tr>
			<tr>
				<td><label>Personal Mail id:</label><input type="email" name="personalEmailid" ng-model="personalEmailid"></td>
				<td><label>Visible:</label><input type="checkbox" ng-model="personalMailidVisible" ng-init="personalMailidVisible=true"></td>
			</tr>
			
			<tr>
				<td><label>Price:</label><input type="text" name="price" ng-model="price"   required="required" numbers-only="numbers-only"></td>
				<td><label>Negotiable:</label><input type="checkbox" ng-model="priceNegotiable" ng-init="priceNegotiable=false"></td>
			</tr>
		</table>
		<button id="samplejsonpbtn" ng-click="postNewAd()">Post Ad</button>
		
	</form>
</div>