#addPhoto{
	margin-left:auto;
	margin-right:auto;
}


#searchInput{
   width: 200px;  
}


.map-marker{	
	margin-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
}


#showCircleContainer{
	border-style: solid;
	border-color: black;
	
}


.img{
	min-height: 140px;
	min-width: 140px;
	margin-left: auto;
	margin-right: auto;
	
}

#showContainerId{	
	padding-left: 25px;
	padding-right: 25PX;
	
}