<script>
$("input[type='image']").click(function() {
	console.log('inside the image click event');
	$("input[id='my_file']").click();
});
</script>
<div ng-controller="addCirclesController" class="container" id="showContainerId">
	<div class="navbar-header well">
		<a class="navbar-brand" href="#home"><span class="glyphicon glyphicon-home"> Nuk-it</a></span>
	</div>
	<div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="container">
					<div class="row">
						<div class="col-xs-8 col-xs-offset-4">
							<input type="image" src="images/addPhoto.jpg" width="100px" ng-click="clickImage();" id="addPhoto" />
						</div>
						<div class="col-xs-4"></div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-xs-offset-3">
							<input type="file" id="my_file" style="display: none;" />
							<p class="help-block">Upload the product Picture Here</p>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				 <input type="text" class="form-control" id="inputTitle" placeholder="What are you Selling...">
			</div>
			<div class="form-group">
				<textarea class="form-control"	id="inputDesc" placeholder="Describe It .."></textarea>
			</div>
			<div class="form-group">
				<div class="container">
					<div class="row">
						<div class="col-xs-4">
							<label>INR</label>
						</div>
						<div class="col-xs-8">
							<input type="number" class="form-control" id="inputTitle" placeholder="Price">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-xs-offset-4">
							
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>