<script>
	$(function() {
		$(".dropdown-toggle").dropdown('toggle');
	});
</script>
<div></div>
<div ng-controller="classifiedsController">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<a class="navbar-brand" href="#">NKU It</a>
					</div>
					<div class="col-sm-2">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
					</div>
					<div class="col-sm-2 map-marker visible-xs">
						<a href="#SelectCity" class="pull-right"><span class="glyphicon glyphicon-map-marker">City</span></a>
					</div>
				</div>
			</div>
		</div>

		<div class="collapse navbar-collapse" id="example-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#SelectCity"><span class="glyphicon glyphicon-map-marker"></span>Select City</a></li>
				<li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>Home</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-star"></span>Recently Viewed Adds</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-list-alt"></span>Shortlisted Ads</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span
						class="glyphicon glyphicon-user"></span> My Account <strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li><a href="#AddCircles"><span class="glyphicon glyphicon-refresh"></span> My Profile</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-briefcase"></span> My Ads</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Setting</a></li>
						<li class="divider"></li>
						<li><a href="#"><span class="glyphicon glyphicon-off"></span> Sign Out</a></li>
					</ul></li>
			</ul>
		</div>
	</nav>
	<div>
		<ul class="list-group" ng-repeat="displayCategory in displayCategories track by $index">
		<li class="list-group-item"><a href="#ShowCircles" ng-click="getCategory(displayCategory.BrowseData)">{{displayCategory.Name}}</a></li>
	</ul>
	</div>
</div>
