<div ng-controller="selectCityController">
	<div class="navbar-header well">
		<a class="navbar-brand" href="#home"><span class="glyphicon glyphicon-home"> Nuk-it</a></span>
	</div>
	<div>
		<ul class="list-group" ng-repeat="displayCity in displayCities track by $index">
			<li class="list-group-item">{{displayCity.name}}</li>
		</ul>
	</div>
</div>