<div ng-controller="showCirclesController">
	<div class="navbar-header well">
		<a class="navbar-brand" href="#home"><span class="glyphicon glyphicon-home"> Nuk-it</a></span>
	</div>
	<div>
		<ul class="list-group" ng-repeat="subData in displaySubData track by $index">
			<li class="list-group-item"><a href="#">{{subData.Name}}</a></li>
		</ul>
	</div>

</div>