<!DOCTYPE html>
<html lang="en">
<head>
<title>NUK-Nuke it</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!--     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> -->
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
<!--     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script> -->
<script src="js/browse-ads.js"></script>
<script src="js/nuk-main.js"></script>

<!--     quojs couldn't find minifed single file version-->
<script src="jslib/quojs/quo.js"></script>
<script src="jslib/quojs/quo.ajax.js"></script>
<script src="jslib/quojs/quo.css.js"></script>
<script src="jslib/quojs/quo.element.js"></script>
<script src="jslib/quojs/quo.events.js"></script>
<script src="jslib/quojs/quo.environment.js"></script>
<script src="jslib/quojs/quo.output.js"></script>
<script src="jslib/quojs/quo.query.js"></script>
<script src="jslib/quojs/quo.standalone.js"></script>

<!-- Custom CSS -->
<link href="css/styles.css" rel="stylesheet">

</head>

<body ng-app="classifiedsv2">
	<div ng-controller="browseAdsController">
		<div class="container">
			<div class="row well">
				<button type="button" ng-click="listCatalogs();"
					class="btn btn-primary">Browse Ads</button>
			</div>
			<div>
				<table>
					<tr ng-repeat="x in catalogs">
						<td><a href="#" class="btn btn-success" ng-click="listCategories(x.catalogId)">{{ x.name }}</a></td>
					</tr>
				</table>
			</div>
			<div>
				<table>
					<tr ng-repeat="x in categories">
						<td><a href="#" class="btn btn-danger" ng-click="listAds(x.categoryId)">{{x.name}}</a></td>
					</tr>
				</table>
			</div>
			
			<div>
				<table>
					<tr ng-repeat="x in ads">
						<td>Title: {{ x.name }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>